<div class="row mt-1">

  <div class="col-6">
    <h4>Playlisty</h4>
    
    <playlists-list [selected]="selected" (selected)="select($event)" [playlists]="playlists"></playlists-list>

    <div class="form-group">
      <button (click)="createNew($event)" class="btn btn-success float-right">Nowa playlista</button>
    </div>
  </div>
  <div class="col-6">

    <div [ngSwitch]="mode">
      <content-card content="Wybierz playliste!" title="Playlista" *ngSwitchDefault></content-card>

      <playlist-detail (editplaylist)="edit($event)" [playlist]="selected" *ngSwitchCase="'selected'"></playlist-detail>

      <playlist-form [playlist]="selected" *ngSwitchCase="'edit'"></playlist-form>


    </div>


  </div>
</div>
