

.form-group {
  position: relative;
  margin-bottom: 1.5rem;
  input {
      outline: none;
      + label {
          position: absolute;
          top: 0;
          color: #ccc;
          transition: .2s all ease-in-out;
      }
      &:focus {
          border-width: 2px;
          border-color: #5086F8;
          + label {
              color: #5086F8;
              top: -2em;
              font-size: .7em; 
          }
      }
  }

  &.not-empty-input {
      label {
          top: -2em !important;
          font-size: .7em;
      }
  }
}