.app__title {
    margin: 2rem 0;
    text-align: center;
    padding: 1rem 0;
    color: #111111;
    background: #fff;
    display: inline-block;
    position: relative;
    text-align: left;
    left: 20%;
    font-family: 'Inconsolata', monospace;
    text-transform: capitalize;
    span {
        position: absolute;
        right: 0;
        top: 0;
        font-size: 2.5rem;
        height: 100%;
        overflow: hidden;
        background: #fff;
        border-left: 1px solid transparent;
        animation: write 10s steps(22), sign 1s step-end 10;
    }
}



@keyframes write {
    0% { width: 100%;}
    100% { width: 0;}
}

@keyframes sign {
    0% { border-left-color:transparent; }
    50% { border-left-color:black; }
    100% { border-left-color:transparent; }
}