/* You can add global styles to this file, and also import other style files */
body {
    font-family: 'Roboto', sans-serif;
}

.row.mt-1 {
    clear: both;
}

.playlist-row {
    border-bottom: 2px solid transparent;
}

.card {
    box-shadow: 1px 1px 6px 1px #cfcfcf;
    border: none;
    border-radius: 0;
}

.btn {
    border: none;
    border-radius: 0;
    cursor: pointer;
}

input.form-control {
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #ccc;
    padding: 0;
  }